body {
    margin: auto;
    width: 80%;
    /*border: 3px solid green;*/
    padding: 10px;
    max-width: 800px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-block {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.header-left p{
    word-wrap: break-word;
    padding-right: 0px;
}
.header-left img {
    display: None;
}

.header-right img{
    max-height: 180px;
    border-radius: 150px;
    margin: 10px 0 10px 30px;
}

#division {
    border: 2px solid;
    border-radius: 2px;
}

.subheader-block {
    overflow: auto;
}
.left-block {
    float: left;
    max-width: 350px;
    padding: 0 40px 0 0;
}
.right-block {
    float: right;
    max-width: 350px;
}

h2 {
    line-height: 26px;
    margin-bottom: 6px;
}
p {
    line-height: 24px;
    margin-top: 4px;
}

a {
    color: #000099;
    text-decoration: None;
}
a:hover {
    color: blue;
    text-decoration: underline;
}


@media only screen and (max-width:768px){
    p {
        line-height: 22px;
        margin-top: 4px;
    }

    h1 {
        line-height: 32px;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }
    h2 {
        line-height: 26px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .header-block{
        overflow: auto;
    }
    .header-right{
        display: None;
    }
    .header-left img {
        display: flex;
        max-height: 130px;
        border-radius: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .right-block{
        float:left;
    }
}